<h2 class="rental-box">Your booking request has been sent and is now pending approval.</h2>

<div class="request-div" id="see-request-div">
  <a class="rental-box request-link-box request-link" id="see-requests" href="/requests">See your requests here</a>
</div>
