
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Makers BnB</h1>
    <a href='/new'>Add Rental</a>

    <form class="sign-up" action="/" method="post">
      Username:
      <input type="text" placeholder="Username" name="Username" required><br>
      Email:
      <input type="email" placeholder="Email" name="Email" required><br>
      Password (minimum 8 characters):
      <input type="password" placeholder="Password" name="Password" minlength="8" required><br>
      <input type="submit" value="Sign Up">
    </form>

    <ul>
      <% @list.each do |rental| %>
        <li>Name: <%= rental.name %></li>
        <li>Description: <%= rental.description %></li>
        <li>Price Per Night: £<%= rental.price %></li><br>
      <% end %>
    </ul>
  </body>
</html>

