


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Makers BnB</h1>

    <% if @user %>
      Welcome <%=@user.username%>!
    <% else %>
      <a href='/sign_up'>Sign Up</a> <br>
    <% end %>

    <a href='/rentals'>See Rentals</a>

  </body>
</html>
