<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="sign-up" action="/" method="post">
      Username:
      <input type="text" placeholder="Username" name="Username" required><br>
      Email:
      <input type="email" placeholder="Email" name="Email" required><br>
      Password (minimum 8 characters):
      <input type="password" placeholder="Password" name="Password" minlength="8" required><br>
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
