

    <ul>
        
          <% @list.each do |rental| %>
            <div class="listing">
              <a href="/rental/<%= rental.id %>"><li>Name: <%= rental.name %></li>
              <li>Description: <%= rental.description %></li>
              <li>Price Per Night: £<%= rental.price %></li></a>
            </div>
          <% end %>
        
    </ul>


