<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>LOG IN</h2>
    <% if @error %>
      <p> Incorrect login details, please try again! </p>
    <%end%>

    <form class="log-in" action="/log_in" method="post">
      Email:
      <input type="email" placeholder="Email" name="Email" required><br>
      Password:
      <input type="password" placeholder="Password" name="Password" minlength="8" required><br>
      <input type="submit" value="Sign In">
    </form>
  </body>
</html>
