<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>LOG IN</h1>
    <form class="sign-up" action="/log_in" method="post">
      Email:
      <input type="email" placeholder="Email" name="Email" required><br>
      Password:
      <input type="password" placeholder="Password" name="Password" minlength="8" required><br>
      <input type="submit" value="Log In">
    </form>
  </body>
</html>
