<form action='/new' method='post'>

  <label for="">Name: </label><input type='text' name='name'>
  <label for="">Description: </label><input type='text' name='description'>
  <label for="">Price Per Night(£): </label><input type='text' name='price'>
  <input type='submit' value='Submit'>

</form>