<h2><%= @rental.name %></h2>

<form action='/rental/<%= @rental.id %>' method='post'>
  <input type='date' name='date'>
  <input type='submit' value='Check Date'>
</form>

<% if @date_available %>
  <h2 id='date-checker'> <%= @date_available %> </h2>
<% end %>

<% if @date_available == "Date available!" %>
  <form action='/rental/<%=@rental.id%>/confirmation' method='post'>
    <input type='submit' value='Book'>
  </form>
<% end %>
