<h1> Request for '<%= @rental %>'</h1>

<form action='/request/<%= @booking_id %>' method='post'>
  <input type='hidden' name='status' value='Approved'>
  <input type='submit' value='Confirm Request'>
</form>

<form action='/request/<%= @booking_id %>' method='post'>
  <input type='hidden' name='status' value='Rejected'>
  <input type='submit' value='Reject Request'>
</form>
