<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if @error == :email_clash %>
      <div class="alert alert-danger" role="alert">
        Email already has an account, please try again.
      </div>
    <% elsif @error == :username_clash %>
      <div class="alert alert-danger" role="alert">
        This username is already taken, please choose another one.
      </div>
    <%end%>
  <h2>SIGN UP</h2>
    <form class="sign-up" action="/sign_up" method="post">
      Username:
      <input type="text" placeholder="Username" name="Username" required><br>
      Email:
      <input type="email" placeholder="Email" name="Email" required><br>
      Password (minimum 8 characters):
      <input type="password" placeholder="Password" name="Password" minlength="8" required><br>
      <input type="submit" value="Get Started">
    </form>
  </body>
</html>
