<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>SIGN UP</h1>
    <% if @error == :email_clash %>
      <p> Email already has an account, please try again. </p>
    <% elsif @error == :username_clash %>
      <p> This username is already taken, please choose another one. </p>
    <%end%>

    <form class="sign-up" action="/sign_up" method="post">
      Username:
      <input type="text" placeholder="Username" name="Username" required><br>
      Email:
      <input type="email" placeholder="Email" name="Email" required><br>
      Password (minimum 8 characters):
      <input type="password" placeholder="Password" name="Password" minlength="8" required><br>
      <input type="submit" value="Get Started">
    </form>
  </body>
</html>
