html {
  height: 100%;
}

.navbar-brand {
  font-family: 'Marck Script', cursive;
  font-size: 1.7em;
}

body {
  background-image: url("https://lh3.googleusercontent.com/yUzKc3ZYO2GvgmbkM0xHN2CvMhQcQZfhjY-6ix9xUhT9eKzlOgENKgVxAu1vOfdL31UE7M45LKM=w640-h400-e365");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Roboto Slab', serif;
}

h1 {
  margin: 20px;
  font-family: 'Marck Script', cursive;
  font-size: 6em;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

div {
  text-align: center;
  align-items: center;
}

.navbar {
  background-color:rgba(211, 211, 211, 0.7);
  border:rgba(211, 211, 211, 0.7);
  border-radius: 0px;
}

input[type="submit"] {
  margin: 0 auto;
}

.row {
  text-align: center;
  align-items: center;
}

form .container {
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  background-color:rgba(211, 211, 211, 0.7);
}

li a {
  display: block;
  width: 100%;
  height: 100%;
}

li a:hover {
  background-color: rgba(211, 211, 211, 0.8);
}

input.form-control {
  margin: auto;
  width: 25%;
  align-items: center;
  border-radius: 5px;
}

.btn-nav {
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}

.listing {
  list-style-type: none;
  background-color: lightgrey;
  opacity: 100%;
  border: 2px solid black;
  margin: 2% 2%;
  border-radius: 10px;
  opacity: 70%;
}

#description {
  width: 67.5%;
  height: 10em;
}

.request-ul {
  list-style-type: none;
  background-color: rgba(211, 211, 211, 0.7);
  margin: 20px 10px;
  border: 2px solid black;
  width: 40%;
  border-radius: 10px;
}

.request-div {
  margin: 30px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  color: black;
  padding-bottom: 30px;
}

.black {
  border: 2px solid black;
}

#red {
  border: 2px solid red;
}

#green {
  border: 2px solid green;
}

.request-link {
  color: darkblue;
}

.request-link:hover {
  color: black;
}

.request-link-box:hover {
  box-shadow: 10px 10px 10px black;
}
.request-box {
  margin-left: 15%;
}

.rental-box {
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  background-color:rgba(211, 211, 211, 0.7);
}

.btn-lg {
  width: 25%;
  padding: 1em;
  font-size: 1.7em;
  margin: 10px;
}

#request-title {
  margin: 0 0 5% 0;
}

#requests-header {
  font-family: 'Roboto Slab', serif;
  font-size: 5em;
}

<<<<<<< HEAD
#see-requests {
  font-size: 2.2em;
}

#see-request-div {
  margin: 90px;
}
=======
>>>>>>> master
